/*Importing 'Iran Yekan' Font*/
@import '../fonts/font.css';

/*Variables*/
:root {	
	--pink: #fb3449;
	--darker-pink: #b32735;
	--light-grey: #f0f0f1;
	--grey: #81858b;
	--darker-grey: #d5dbe3;
}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'IranYekanRegular', 'IranYekanMedium', sans-serif;
	font-size: 12px !important;
}

/*Styles*/
.pointer-events-none {pointer-events: none;}
.pointer-events-visible {pointer-events: visible;}
.aspect-ratio {aspect-ratio: 1/1;}
.support-btn {width: 50px;}
.bg-pink {background-color: var(--pink);}
.text-pink {color: var(--pink);}
.transition {transition: .3s;}
.mr-1 {margin-right: 1rem;}
.ml-1 {margin-left: 1rem;}
.bg-light-grey {background-color: var(--light-grey);}
.text-grey {color: var(--grey) !important;}
.w-60 {width: 60%;}
.w-40 {width: 40%}
#header-bottom-side-border{
	width: 0;
	height: 2px;
	top: 100%;
	left: 0;
	transform: translateY(-100%);
}

.divider:before {
	content: '';
	width: 1px;
	height: 20px;
	background-color: var(--bs-border-color);
	margin-left: 1rem;
}

/*Hover And Active , ... Styles*/
.hover-bg-darker-pink:hover {background-color: var(--darker-pink);}
.hover-bg-bs-border:hover {background-color: var(--bs-border-color) !important;}
.hover-bg-darker-grey:hover {background-color: var(--darker-grey);}

/*Pages Scrollbar*/
body::-webkit-scrollbar {background-color: white;width: 7px;}
body::-webkit-scrollbar-thumb {border-radius: 50rem;background-color: #c0c0c0;}
body::-webkit-scrollbar-button {display: none;}

